apiVersion: apps/v1
kind: Deployment
metadata:
  name: boundary-service
  namespace: {{ NAMESPACE }}
  labels:
    app: boundary-service
spec:
  selector:
    matchLabels:
      app: boundary-service
  replicas: 1
  template:
    metadata:
      labels:
        app: boundary-service
      namespace: {{ NAMESPACE }}
    spec:
      containers:
        - name: boundary-service
          image: esdlmapeditoressim/boundary-service:latest
          env:
            - name: ENV
              value: "prod"
            - name: BOUNDARY_SERVICE_DATABASE_HOST
              value: "postgis"
            - name: BOUNDARY_SERVICE_DATABASE_NAME
              value: boundaries
            - name: BOUNDARY_SERVICE_DATABASE_USER
              value: boundary_service
            - name: BOUNDARY_SERVICE_DATABASE_PASSWORD
              value: "{{ POSTGRES_BOUNDARY_SERVICE_PASSWORD }}"
          imagePullPolicy: Always
          ports:
            - containerPort: 4002
          resources:
            requests:
              memory: "800Mi"
              cpu: "400m"

---
apiVersion: v1
kind: Service
metadata:
  name: boundary-service
  namespace: {{ NAMESPACE }}
spec:
  selector:
    app: boundary-service
  ports:
    - protocol: TCP
      port: 4002
      targetPort: 4002
  type: ClusterIP
