version: "3.5"

volumes:
  mongo_storage:
    driver: local
  influxdb_storage:
    driver: local
  grafana_storage:
    driver: local
  postgres_storage:
    driver: local
  pgadmin_storage:
    driver: local

networks:
  mapeditor-net:
    driver: bridge
    name: mapeditor-net

services:

  mongo:
    container_name: mongo
    image: mvertes/alpine-mongo
    volumes:
      - mongo_storage:/data/db
    ports:
      - "${MONGO_PORT:-27017}:27017"
    networks:
      - mapeditor-net

  influxdb:
    container_name: influxdb
    image: influxdb:1.7
    ports:
      - "${INFLUXDB_PORT:-8086}:8086"
      - "${INFLUXDB_RPC_PORT:-8088}:8088"
    environment:
      - INFLUXDB_ADMIN_USER=admin
      - INFLUXDB_ADMIN_PASSWORD=admin
      - INFLUXDB_DB=panelservice
      - INFLUXDB_WRITE_USER=panelservice
      - INFLUXDB_WRITE_USER_PASSWORD=panelservice
    volumes:
      - influxdb_storage:/var/lib/influxdb
    networks:
      - mapeditor-net

  grafana:
    container_name: grafana
    image: grafana/grafana:7.4.5
    volumes:
      - grafana_storage:/var/lib/grafana
    depends_on:
      - influxdb
    ports:
      - "${GRAFANA_PORT:-3000}:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=false
      - GF_SERVER_ROOT_URL=http://localhost:${GRAFANA_PORT:-3000}
      - GF_SECURITY_ALLOW_EMBEDDING=True
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_PANELS_DISABLE_SANITIZE_HTML=true
      - GF_AUTH_DISABLE_LOGIN_FORM=True
      - GF_AUTH_BASIC_ENABLED=True
      - GF_AUTH_OAUTH_AUTO_LOGIN=True
      - GF_AUTH_GENERIC_OAUTH_ENABLED=True
      - GF_AUTH_GENERIC_OAUTH_ALLOW_SIGN_UP=True
      - GF_AUTH_GENERIC_OAUTH_NAME=Auth0
      - GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH=contains(grafana_role, 'Admin') && 'Admin' || contains(grafana_role, 'Editor') && 'Editor' || 'Viewer'
      - GF_AUTH_SIGNOUT_REDIRECT_URL=http://localhost:8080/auth/realms/esdl-mapeditor/protocol/openid-connect/logout?redirect_uri=http://localhost:${GRAFANA_PORT:-3000}
      - GF_AUTH_GENERIC_OAUTH_CLIENT_ID=essim-dashboard
      - GF_AUTH_GENERIC_OAUTH_SCOPES=openid profile email
      - GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET=174522fe-db1c-4384-a3c5-eaa6dc03329b
      - GF_AUTH_GENERIC_OAUTH_AUTH_URL=http://localhost:8080/auth/realms/esdl-mapeditor/protocol/openid-connect/auth
      - GF_AUTH_GENERIC_OAUTH_TOKEN_URL=http://keycloak:8080/auth/realms/esdl-mapeditor/protocol/openid-connect/token
      - GF_AUTH_GENERIC_OAUTH_API_URL=http://keycloak:8080/auth/realms/esdl-mapeditor/protocol/openid-connect/userinfo
    networks:
      - mapeditor-net

  postgres:
    container_name: postgres
    image: postgis/postgis:12-master
    restart: always
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_storage:/var/lib/postgresql/data
      - ./postgres/init-database.sh:/docker-entrypoint-initdb.d/init-database.sh
      - ../Data/Boundaries:/data/boundaries
    environment:
      - POSTGRES_DB=${POSTGRES_DB:-postgres}
      - POSTGRES_USER=${POSTGRES_DB_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_DB_PASSWD:-password}
    networks:
      - mapeditor-net

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-admin@admin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
    volumes:
      - pgadmin_storage:/root/.pgadmin
    ports:
      - "${PGADMIN_PORT:-5050}:80"
    restart: unless-stopped
    networks:
      - mapeditor-net

  keycloak:
    container_name: keycloak
    image: jboss/keycloak:11.0.0
    restart: always
    environment:
      - DB_VENDOR=POSTGRES
      - DB_ADDR=postgres
      - DB_DATABASE=keycloak
      - DB_USER=keycloak
      - DB_SCHEMA=public
      - DB_PASSWORD=password
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
      - PROXY_ADDRESS_FORWARDING=true
    ports:
      - "${KEYCLOAK_PORT:-8080}:8080"
      - "${KEYCLOAK_HTTPS_PORT:-8443}:8443"
    depends_on:
      - postgres
    networks:
      - mapeditor-net
    volumes:
      - "./keycloak/:/tmp/config/"
