version: '3.8'

networks:
  mapeditor-net:
    external:
      name: mapeditor-net

services:
  cdo-server:
    image: esdlmapeditoressim/cdo-server:latest
    container_name: cdo-server
    ports:
      - "2036:2036"
#    depends_on: 
#      - postgis
#    links:
#      - postgis
    environment:
      - POSTGRESQL_HOST=postgres
      - POSTGRESQL_PORT=5432
      - POSTGRESQL_USER=drive
      - POSTGRESQL_PASSWORD=password
      - POSTGRESQL_DATABASE=esdlrepo
    networks:
      - mapeditor-net


  esdl-drive: 
    image: esdlmapeditoressim/esdl-drive:latest
    container_name: esdl-drive
    ports:
      - 9080:9080
      - 9443:9443
    depends_on:
      - cdo-server
    links:
      - cdo-server
    environment:
      - CDO_SERVER_HOST=cdo-server:2036
      - KEYCLOAK_REALM=http://keycloak:8080/auth/realms/esdl-mapeditor
      - KEYCLOAK_REALM_EXTERNAL=http://localhost:8080/auth/realms/esdl-mapeditor
    networks:
      - mapeditor-net

volumes:
  cdo-postgis-data:
