#!/usr/bin/env bash
# secrets.sh - do not commit, share out-of-band

export POSTGRES_PASSWORD=""
export POSTGRES_KEYCLOAK_PASSWORD=""
export POSTGRES_BOUNDARY_SERVICE_PASSWORD=""
export POSTGRES_DRIVE_PASSWORD=""
export POSTGRES_DATA_MANAGER_PASSWORD=""
export POSTGRES_ESSIM_PASSWORD=""
export POSTGRES_MAPEDITOR_PASSWORD=""
