# This file is populated automatically by the panel-service-init container on first start.
# It will contain the Grafana API key after docker compose up completes successfully.
# Do not commit the non-template version of this file.
GRAFANA_API_KEY=
